<div class="main-content">
  <div class="section-content section-content-p30">

    <h4>Category: {{ currentCategoryName }}</h4>
    <hr>

    <div class="container-fluid">
      <div class="row">

          <div *ngFor="let product of products" class="col-md-3">

            <div class="product-box">

              <a routerLink="{{ product.id }}">
              <img src="{{ product.imageUrl }}" class="img-responsive">
              </a>

              <h1><a routerLink="{{ product.id }}">{{ product.name }}</a></h1>

              <div class="price">{{ product.unitPrice | currency: 'EUR'}}</div>

              <row>
                <a href="#" class="primary-btn">Add to cart</a>
                <i class="fas fa-shopping-cart ml-2"></i>
              </row>

            </div>

          </div>

        <!-- If products are empty display message to a user -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No products found.
        </div>

      </div>

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">

                <ngb-pagination [(page)]="pageNumber"
                                [pageSize]="pageSize"
                                [collectionSize]="totalElements"
                                (pageChange)="listProducts(); onEdit()">
                </ngb-pagination>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
